.stack-work/
gcp.cabal
*~
# Created by https://www.gitignore.io/api/haskell,stack,cabal
# Edit at https://www.gitignore.io/?templates=haskell,stack,cabal

#!! ERROR: cabal is undefined. Use list command to see defined gitignore types !!#

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

#!! ERROR: stack is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/haskell,stack,cabal
